<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.dgit.persistence.BoardDao">
		<!-- board insert -->
		<insert id="boardInsert">
			INSERT INTO board(member_id,board_title)VALUES
			(#{memberId},#{boardTitle})	
		</insert>
		
		<!-- content insert -->
		<insert id="contentInsert">
			insert into content(board_no,board_content)values
			(LAST_INSERT_ID(),#{boardContent})
		</insert>
		
		<!-- board list -->
		<select id="boardList" resultType="Board">
			select * from board
		</select>
		
		<!-- read -->
		<select id="boardRead" resultType="Board">
			select * from board b join content c 
			on b.board_no = c.board_no where b.board_no=#{boardNo}
		</select>
		
		<!-- delete -->
		<delete id="boardDel">
			delete from board where board_no=#{boardNo}
		</delete>
		<delete id="contentDel">
			delete from content where board_no=#{boardNo}
		</delete>
		
		<!-- update -->
		<update id="boardUpdate">
			update board
			set board_title=#{boardTitle}
			where board_no = #{boardNo}
		</update>
		<update id="contentUpdate">
			update content
			set board_content=#{boardContent}
			where board_no = #{boardNo}
		</update>
		
		<!-- 페이징 -->
		<select id="listPage" resultType="Board">
				select*from board
				limit #{page},10
		</select>
		
		<select id="listCriteria" resultType="Board">
			select*from board
			limit #{pageStart},#{perPageNum}
		</select>
	
		<select id="totalCount" resultType="int">
			select count(board_no) from board
		</select>
	
	<sql id="search">
		<if test="searchType != null">
			<if test="searchType == 't'.toString()">
				where board_title like concat('%',#{keyword},'%')
			</if>
			<if test="searchType == 'c'.toString()">
				where board_content like concat('%',#{keyword},'%')
			</if>
			<if test="searchType == 'w'.toString()">
				where member_id like concat('%',#{keyword},'%')
			</if>
			<if test="searchType == 'tc'.toString()">
				where board_title like concat('%',#{keyword},'%') or board_content like concat('%',#{keyword},'%')
			</if>
			<if test="searchType == 'cw'.toString()">
				where board_content like concat('%',#{keyword},'%') or member_id like concat('%',#{keyword},'%')
			</if>
			<if test="searchType == 'tcw'.toString()">
				where board_title like concat('%',#{keyword},'%') or board_content like concat('%',#{keyword},'%') or
				member_id like concat('%',#{keyword},'%')
			</if>
		</if>
	</sql>
		
		<select id="listSearch" resultType="Board">
			select*from board
			<include refid="search"/>
			limit #{pageStart},#{perPageNum}
		</select>
		
		<select id="searchCount" resultType="int">
			select count(board_no) from board
			<include refid="search"/>
		</select>
</mapper>