<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dgit.persistence.ContentDao">
		<insert id="contentInsert">
			insert into content(board_no,board_content)values
			(#{boardNo},#{boardContent})
		</insert>
		
		<select id="contentSelect" resultType="Content">
			select board_no, board_content from content
		</select>	
</mapper>