<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.dgit.persistence.MemberDao">
		<insert id="memberInsert">
			insert into member(member_id,member_pass,member_name,member_email)values
			(#{memberId},#{memberPass},#{memberName},#{memberEmail})
		</insert>
		
		<select id="memberbyNo" resultType="Member">
			select*from member where member_id = #{memberId}
		</select>
		
		<select id="memberList" resultType="Member">
			select*from member;
		</select>
		
		<update id="memberUpdate">
			update member
			set member_pass=${memberPass},member_name=#{memberName},member_email=#{memberEmail}
			where member_id=#{memberId}
		</update>
		
		<delete id="memberDel">
			delete from member where member_id = #{memberId}
		</delete>
		
		<select id="login" resultType="Member">
			select * from member where member_id=#{memberId} and member_pass=#{memberPass}
		</select>
</mapper>